- 연속형 데이터 타입 대상 결측치 채우기
- 학습 모델 중 R^2가 가장 낮은

In [49]:
import sklearn as sk
import pandas as pd
import numpy as np

In [50]:
from sklearn import datasets

DataCarRent = pd.read_csv('/apps/study_machinelearnings/datasets/LetalCarOfContractType.csv')

In [51]:
DataCarRent.head()

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0
2,66756657,렌탈,Normal,홈쇼핑/방송,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,8.0,우리은행,정상,60.0,2363.0
3,66423450,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,계약확정,0,없음,5.0,농협은행,정상,60.0,2449.0
4,66423204,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,해약확정,12,있음,8.0,농협은행,해약,51.0,1942.0

In [52]:
type(DataCarRent['amount']), DataCarRent['amount'].shape

(pandas.core.series.Series, (51304,))

In [69]:
# DataCarRent['Term'].value_counts(), DataCarRent['Term'].unique()
# DataCarRent['overdue_count'].value_counts(), DataCarRent['overdue_count'].unique()
# DataCarRent['overdue_count'].value_counts(), DataCarRent['overdue_count'].unique()
# DataCarRent['age'].value_counts(), DataCarRent['age'].unique(), DataCarRent['age'].index

nanCount = DataCarRent['overdue_count'].isna().sum()
print(nanCount)

# age와 Mileage는 꼭 같이 NaN

0

In [54]:
TargetCols = ['overdue_count', 'amount','age','Mileage']

In [58]:
# DataCarRent[TargetCols]
nanRows = DataCarRent[TargetCols][DataCarRent[TargetCols].isna().any(axis=1)]
nanRows['age'].value_counts

<bound method IndexOpsMixin.value_counts of 7       NaN
19      NaN
21      NaN
26      NaN
27      NaN
         ..
51289   NaN
51291   NaN
51293   NaN
51298   NaN
51299   NaN
Name: age, Length: 10795, dtype: float64>

In [ ]:
DataCarRent = pd.DataFrame(data=DataCarRent['data'], columns=load_diabetes['feature_names'])
diabetesDf.head(3)